@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
border: 3px solid rgba(0,0,0,1);
padding:20px;
font-family: "Quicksand", Georgia, sans-serif;
font-weight: 500;
font-size: 15px;
margin: auto;
min-width:890px;
background-color: rgba(114,165,181,0.84);
width:1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(14,52,64,0.84);
    margin: 0 auto;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

nav li{
    display:inline-block;
    margin-right:20px;
    background-color:rgba(89,48,20,0.46);
    color: rgba(255,255,255,0.46);
    padding: 15px 32px;
    text-decoration:none;
    font-size:18px;
}

a, 
a:link{
    color: rgba(0,0,0,0);
}


h1,h2{
    font-family:"roboto-mono", georgia, sans-serif;
}