@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
padding:20px;
font-family: "Quicksand", Georgia, sans-serif;
font-weight: 500;
font-size: 15px;
margin: auto;
max-width:1000px;
background-image:url("../images/background-image.jpg");
background-attachment:fixed;
background-size:cover;
}

main{
    padding:10px;
    margin:0 auto;
    max-width:1000px;
    background-color: rgba(114,165,181,0.89);
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(14,52,64,0.89);
    margin: 0 auto;
    padding: 20px;
    border: 2px;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

#intro figure img{
border:1px;
border-radius: 100px;
}

footer{
    background-color:rgba(14, 52, 64, 0.89);
    height:80px;
    margin:0px auto;
    text-align:center;
    padding-top:20px;
}

footer p{
    padding-top:10px;
}

nav li{
    display:inline-block;
    margin-right:20px;
    z-index:1;
    padding: 15px 32px;
    font-size:18px;
    border-radius:10px;
    background-color:rgba(228, 255, 252, 0.616);
    color:rgba(0,0,0,0);
    transition-duration: 0.2s;
    border-color:rgb(0, 0, 0);
}

nav li:hover{
    background-color:rgba(255, 255, 255, 0.616);
}

h1,h2{
    font-family:"roboto-mono", georgia, sans-serif;
}

a:link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}


a:hover{
    color:rgb(125, 241, 250);
}

a:visited{
    color:rgb(12, 87, 93);
}

a:active{
    color:rgba(31, 102, 177, 0.732);
}

footer a{
    margin-right:20px;
    padding: 15px 32px;
    font-size:18px;
    border-radius:10px;
    background-color:rgba(228, 255, 252, 0.616);
    color:rgba(0,0,0,0);
    transition-duration: 0.2s;
    border-color:rgb(0, 0, 0);
}

#intro{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:1fr;
  grid-gap:10px;
}

#intro figure{
    grid-column:1;
    grid-row:1;
}

#bio{
    grid-column:2;
    grid-row:1;
    max-width:500px;
}

footer p{
    padding-top:10px;
    font-family: "Quicksand", Georgia, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:rgba(167, 167, 167, 0.813);
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

